name: Validate data
on: [pull_request]
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm i -g ajv-cli ajv-formats
      - run: |
          ajv validate -c ajv-formats -s schemas/character.schema.json -d 'data/characters/*.json' --errors=text || true
          ajv validate -c ajv-formats -s schemas/event.schema.json -d 'data/sessions/*.json' --errors=text || true
          ajv validate -c ajv-formats -r schemas/event.schema.json -s schemas/session.schema.json -d 'data/sessions/*.json' --errors=text || true
          if ajv validate -c ajv-formats -r schemas/event.schema.json -s schemas/session.schema.json -d 'data/sessions/*.json' ; then exit 0; else exit 1; fi
